<ReviewableTopicLink @reviewable={{reviewable}} @tagName="" />

<div class="post-contents-wrapper">
  <ReviewableCreatedBy @user={{reviewable.target_created_by}} @tagName="" />

  <div class="post-contents">
    <ReviewableCreatedByName
      @user={{reviewable.target_created_by}}
      @tagName=""
    />

    <div class="post-body">
      {{html-safe reviewable.payload.post_cooked}}
    </div>

    {{yield}}

    {{#if reviewable.payload.external_error}}
      <ReviewableAkismetApiError
        @external_error={{reviewable.payload.external_error}}
      />
    {{/if}}
  </div>
</div>