<div class="reviewable-user-info">
  <div class="reviewable-user-fields">
    <div class="reviewable-user-details username">
      <div class="name">{{i18n "review.user.username"}}</div>
      <div class="value">
        {{#if reviewable.user_deleted}}
          {{reviewable.payload.username}}
        {{else}}
          <a href={{get-url (concat "/u/" reviewable.payload.username "/summary")}}>
            {{reviewable.payload.username}}
          </a>
        {{/if}}
      </div>
    </div>

    {{reviewable-field classes="reviewable-user-details name"
                               name=(i18n "review.user.name")
                               value=reviewable.payload.name}}

    {{reviewable-field classes="reviewable-user-details email"
                       name=(i18n "review.user.email")
                       value=reviewable.payload.email}}

    {{reviewable-field classes="reviewable-user-details bio"
                       name=(i18n "review.user.bio")
                       value=reviewable.payload.bio}}
  </div>

  {{yield}}

  {{#if reviewable.payload.external_error}}
    {{reviewable-akismet-api-error external_error=reviewable.payload.external_error}}
  {{/if}}
</div>
