<div class='created-by'>
  {{#user-link user=reviewable.target_created_by}}
    {{avatar reviewable.target_created_by imageSize="large"}}
  {{/user-link}}
</div>

<div class='post-contents'>
  <div class='names'>
    <span class="username">
      {{#user-link user=reviewable.target_created_by}}
        {{reviewable.target_created_by.username}}
      {{/user-link}}
    </span>
  </div>

  {{reviewable-topic-link topic=reviewable.topic}}

  <div class='post-body'>
    {{{ reviewable.cooked }}}
  </div>

  <table class='reviewable-scores'>
    <tr>
      <th class='user'>{{i18n "review.types.reviewable_flagged_post.flagged_by"}}</th>
      <th>{{i18n "review.scores.description"}}</th>
    </tr>
    <tr class='reviewable-score'>
        <td class='user'>{{i18n "akismet.reviewer"}}</td>
        <td>{{i18n "akismet.reviewer_description"}}</td>
    </tr>
  </table>
</div>