<ReviewableTopicLink @reviewable={{this.reviewable}} @tagName="" />

<div class="post-contents-wrapper">
  <ReviewableCreatedBy
    @user={{this.reviewable.target_created_by}}
    @tagName=""
  />

  <div class="post-contents">
    <ReviewableCreatedByName
      @user={{this.reviewable.target_created_by}}
      @tagName=""
    />

    <div class="post-body">
      {{html-safe this.reviewable.payload.post_cooked}}
    </div>

    {{yield}}

    {{#if this.reviewable.payload.external_error}}
      <ReviewableAkismetApiError
        @external_error={{this.reviewable.payload.external_error}}
      />
    {{/if}}
  </div>
</div>